{# Module imports #}
{% for module_import in module_imports %}
use {{module_import.path}}::{{module_import.name}};
{% endfor %}


{# Primitive definitions #}
{% block primitive_definitions %}
{% for primitive_definition in primitive_definitions %}
pub type {{ primitive_definition.name }} = {{ primitive_definition.type_name | safe }};
{% endfor %}
{% endblock %}

{# Enum definitions #}
{% block enum_definitions %}
{% for enum_definition in enum_definitions %}
{% if enum_definition.serializable %}
#[derive(Serialize, Deserialize, Debug, Clone, PartialEq)]
{% endif %}
pub enum {{ enum_definition.name }} {
    {% for value in enum_definition.values %}
    {{ value.name }}({{ value.value_type | safe }}),
    {% endfor %}
}
{% endfor %}
{% endblock %}

{# Struct definitions #}
{% block struct_definitions %}
{% for struct_definition in struct_definitions %}
{% if struct_definition.serializable %}
#[derive(Serialize, Deserialize, Debug, Clone, PartialEq)]
{% endif %}
pub struct {{ struct_definition.name }} {
    {% for property in struct_definition.properties %}
    {% if property.real_name != property.name %}
    #[serde(alias = {{ property.real_name | safe }})]
    {%endif%}
    {% if property.required %}
    pub {{ property.name }}: {{ property.type_name | safe }},
    {% else %}
    pub {{ property.name }}: Option<{{ property.type_name | safe }}>,
    {% endif %}
    {% endfor %}
}
{%endfor%}
{% endblock %}



{# File/Request type specific content #}
{% block content %}
{% endblock %}